.container{

    background-color: white;
    overflow: hidden;
    color: black;
}

.hf{
        display: block;
        overflow: hidden;
        color: #000;
        background-color: #ede734;
        height: 100px;
    }
.DK{
        display: block;
        float: left;
        width: 500px;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
    }
.email
    {
        display: block;
        float: left;
        width: 500px ;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        background-color: black;
        color: white;
    }

.box{
        display: block;
        float: left;
        margin-right: 15px;
        width: 150px;
        height: 100px;
        padding: 1em;
    }

footer{
    clear: both;
}
    