@import "_variable";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: $size;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row;
    & nav {
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: $blue;
        border-left: 10px solid $blue;
        transition: 0.5s;
        overflow: hidden;

        & ul {
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 50px 0 50px 0;
            & li {
                position: relative;
                list-style: none;
                width: 100%;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }

            & li:active,
            & li.activated{
                background-color: $white;
                // transition: 0.5s;
                
            }

            & li a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: $white;

                & .icon {
                    position: relative;
                    display: block;
                    min-width: 60px;
                    height: 60px;
                    line-height: 70px;
                    text-align: center;
                    & ion-icon {
                        font-size: 1.5em;
                        pointer-events: none;
                    }
                }

                & .title {
                    position: relative;
                    display: block;
                    padding: 0 10px;
                    line-height: 60px;
                    height: 60px;
                    text-align: center;
                    white-space:nowrap;
                }
            }

            & li:active a,
            & li.activated a {
                transition: 0.25s;
                color: $blue;
            }

            & li:active a::before,
            & li.activated a::before {
                content: '';
                position:absolute;
                top: -50px;
                right: 0;
                width: 50px;
                height: 50px;
                transition: 0.5s;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px 35px 0 10px $white;
            }
            & li:active a::after,
            & li.activated a::after {
                content: '';
                position:absolute;
                bottom: -50px;
                right: 0;
                width: 50px;
                height: 50px;
                transition: 0.5s;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px -35px 0 10px $white;
            }
        }
    }
    & .home {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: red;
        right: 50px;
        // visibility: visible;
        display:none;
    }
    & .home.open {
        display: block;
    }
    & .product {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: blue;
        right: 0;
        // visibility: hidden;
        display:none;    
    }
    & .product.open {
        display: block;
    }
    & .order {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: violet;
        right: 0;
        // visibility: hidden;
        display:none;
    }
    & .order.open {
        display:block;
    }
    & .analytics {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: yellow;
        right: 0;
        // visibility: hidden;
        display:none;
    }
    & .analytics.open {
        display: block;
    }
    & .finance {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: green;
        right: 0;
        // visibility: hidden;
        display:none;
    }
    & .finance.open {
        display: block;
    }
    & .message {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: purple;
        right: 0;
        // visibility: hidden;
        display:none;
    }
    & .message.open {
        display: block;
    }
    & .feedback {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: black;
        right: 0;
        // visibility: hidden;
        display:none;
    }
    & .feedback.open {
        display: block;
    }
    & .help {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: orange;
        right: 0;
        // visibility: hidden;
        display:none;    
    }
    & .help.open {
        display: block;
    }
    & .setting {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: gray;
        right: 0;
        // visibility: hidden;
        display:none;
    }
    & .setting.open {
        display: block;
    }
    & .signout {
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: #123298;
        right: 0;
        // visibility: hidden;
        display:none;
    }
    & .signout.open {
        display: block;
    }
    

}


// Mobile
@media (max-width:739px) {
    .container nav {
        width: 70px;
        & a::after,a::before {
            z-index: -1;
        }
    }
}