.container_swap{

    background-color: black;
    overflow: hidden;
    color: yellow;
    }
    
    .div_left{
    
    width: 200px;
    
    float: left;
    
    text-align: left;
    
    }
    
    .div_right{
    
    width: 200px;
    
    float: left;
    
    text-align: left;
    
    }
    .hf{
        overflow: hidden;
        color: #000;
        background-color: #ede734;
    }
    .hfleft{
        float: left;
        width: 600px;
        text-align: left;
    }
    .hfright
    {
        align-items: center;
        border: none;
        border-radius: 0;
        cursor: pointer;
        display: inline-flex;
        justify-content: flex-start;
        line-height: 50px;
        min-height: 50px;
        padding: 0 21px;
        position: relative;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        transition: transform var(--gl-motion-duration-transform-press) var(--gl-motion-easing-transform-press),color var(--gl-motion-duration-textcolor) var(--gl-motion-easing-textcolor);
        white-space: nowrap;
        width: auto;
    }
    