.container_swap{

    background-color: white;
    overflow: hidden;
    color: black;
    }
    
    .div_left{
    
    width: 200px;
    
    float: left;
    
    text-align: left;
    
    }
    
    .div_right{
    
    width: 200px;
    
    float: left;
    
    text-align: left;
    
    }
    .hf{
        overflow: hidden;
        color: #000;
        background-color: #ede734;
    }
    .hfleft{
        float: left;
        width: 300px;
        text-align: right;
    }
    .hfright
    {
        float: left;
        width: 300px ;
        font-size: large;
        text-align: right;
    }
    .box{
        clear: left;
    }
    