div{
    display: block;
}
.content{
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}
.title-product{
    margin: 50px 20px 20px 20px;
    padding: 10px;
    border: 1px solid black;
    font-size: 50px;
}.right{
    float: left;
    margin-left: 100px;
}
.left{
    float:left;
    border: 1px solid black;
    margin-left: 20px;
}
.filter{
    width: 200px;
    padding:1px 10px 20px 20px;
    margin: 1px 10px 20px 10px;
    border-bottom: 1px solid black;
    text-align: left;
}
.name-filter{
    margin-bottom: 10px;
    border-bottom: 1px solid black;

}
.name-title{
    margin-top: 10px;
}
.data{
    padding-left: 10px;
}
input{
    margin-bottom: 10px;
}
.container {
    grid: 25rem;
    display: grid;
    /* -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit]; */
      grid-template-columns: 25ch 25ch 25ch 25ch ;
    gap: 1.5rem;
    margin: auto;
}
.container .box {
    position: relative;
    background-color: #f3f3f3;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
.container .box .icons {
    position: absolute;
    height: 17rem;
    width: 100%;
    top: -105%;
    left: 0;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
          justify-content: center;
    
    background: rgba(243, 243, 243, .8);
    gap: 1rem;
}
.container .box:hover .icons {
    top: 0;
}
.container .box .icons .fas {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: #666;
}
.container .box .icons a:hover {
    background: #21c41b;
    color: #fff;
}
.container .box .image {
    width:100%;
    overflow: hidden;
}
.container .box .image img{
    width: 100%;
    object-fit: cover;
}


